%h1 FsBrowser Demo

%p
  %a.trigger Click me to browse your filesystem

= render '/fs_browser/modal'

:javascript
  $('.trigger').click(function(event) {
    event.preventDefault();
    FsBrowser.Modal.init($('#fs-browser'));
  });
