%h1 FsBrowser Demo

%p
  = link_to 'Click me', '#', :class => 'trigger'
  to browse your filesystem

= render '/fs_browser/modal'

:javascript
  $('.trigger').click(function(event) {
    event.preventDefault();
    FsBrowser.Modal.init();
  });
