<!DOCTYPE html>
<html>
<head>
  <title>FsBrowser</title>
  <%= stylesheet_link_tag    "fs_browser/application", :media => "all" %>
  <%= javascript_include_tag "fs_browser/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
